/* LAYOUT *************************************************************************************************************/


@font-face {
    font-family: CCGeekSpeak;
    src: url(//db.onlinewebfonts.com/c/eca2f6d7a08be97ebbfb8a1c2c2be5e6?family=CCGeekSpeakW00-Regular);
}
/*@font-face {font-family: "CCGeekSpeak W00 Regular";
    src: url("fonts/@font-face/eca2f6d7a08be97ebbfb8a1c2c2be5e6.eot");
    src: url("fonts/@font-face/eca2f6d7a08be97ebbfb8a1c2c2be5e6.eot?#iefix") format("embedded-opentype"),
    url("fonts/@font-face/eca2f6d7a08be97ebbfb8a1c2c2be5e6.woff2") format("woff2"),
    url("fonts/@font-face/eca2f6d7a08be97ebbfb8a1c2c2be5e6.woff") format("woff"),
    url("fonts/@font-face/eca2f6d7a08be97ebbfb8a1c2c2be5e6.ttf") format("truetype"),
    url("fonts/@font-face/eca2f6d7a08be97ebbfb8a1c2c2be5e6.svg#CCGeekSpeak W00 Regular") format("svg");
}*/
html{
    color: #333;
    font-family:"CCGeekSpeak W00 Regular" !important;
    text-transform: uppercase;
    font-family: "CCGeekSpeak", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
    line-height: 26px;
    letter-spacing: 0.43px;
    text-shadow: #000000 -2px 3px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;

}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav{
    background: linear-gradient(to bottom,#024488,#08244c);
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0 2rem;
}

nav img{
    width: 8rem;
    padding-top: 0.8rem;
}

main {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1920px;
    padding: 0 2rem;
    margin: 0 auto;
}

header h1{
    font-size: 3rem;
    margin: 1rem 0 0 0;
}

header h2{
    font-size: 2rem;
    margin: 1rem 0;
}

footer{
    background: linear-gradient(to bottom,#034588,#092043);
    color: white;
}

footer svg{
    width: 100%;
    height: 50px;
}
footer a{
    color: white;
}

footer .contenido{
    margin: 0 360px;
}

footer img{
    width: 155px;
}
footer p {
    text-transform: none;
    font-family: Arial;
    font-size: 13px;
    text-align: justify;
}



/* SECTION ************************************************************************************************************/

section h3{
    font-size: 1.5rem;
    border-bottom: 1px solid #333;
    padding-bottom: 0.3rem;
    font-weight:bold;
}

section h3 a{
    color: #333;
}

section h3 span{
    font-weight:normal;
    color: #444;
}

article h4{
    font-size: 1.5rem;
}

article .card-info{
    position: relative;
    bottom: 3rem;
    left: 1.5rem;
}

.card.horizontal.small .card-image{
    max-height: 70%;
}

.card.horizontal.small .card-image img{
    margin-top: 20%;
}

.card.horizontal.noticia{
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;

}
